:root {
    --darkGreen: #00802c;
    --lightGreen: #23d949; 
}

a {
    color: inherit;
}

.App {
    overflow-x: hidden;
}

.container {
    font-family: "Montserrat"; 
    padding: 0 186px;
    margin: 0 auto;
}

/* 
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 1920px) {} 
*/